<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        Who is EFA?
      </h3>
      <p>
        Electronic Frontiers Australia Inc. (EFA) is a non-profit national organisation that has been promoting digital freedom, access and privacy in Australia since 1994.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        What do we do?
      </h3>
      <p>
        EFA regularly runs high-profile public campaigns, but the majority of the work we do involves the hard grind of developing detailed submissions to parliamentary and departmental inquiries. This is often very detailed and time-consuming work.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Why support us?
      </h3>
      <p>
        Because you never know when you'll find yourself the subject of someone's curiosity..
      <p>
    </div>
  </div>
</div>

<!-- <div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div> -->
